<section id="about" class="ds hello-section s-pt-70 s-pb-115  s-pb-md-130 s-pb-lg-100 s-pt-lg-175 s-pb-xl-235 overflow-visible s-overlay s-mobile-overlay">
  <div class="container">
    <div class="fw-divider-space hidden-below-xxl pt-250"></div>
    <div class="fw-divider-space hidden-below-lg pt-130"></div>
    <div class="row justify-content-end">
      <div class="col-xs-12 col-lg-6">
        <h4 class="big-title">
          hello!
        </h4>
        <div class="fw-divider-space hidden-below-lg mt-45"></div>
        <p class="color-white font-main">
          Modelia, established in 1990, is one of the world's top model agencies, representing some of the fashion industry's most successful faces.
        </p>
        <p>
          A dedicated team of highly experienced professionals have enabled Modelia to sustain its success and dominate the fashion world for over three decades. We are one of the world's top model agencies, representing most successful faces.
        </p>
        <img src="../../../assets/images/signature.png" alt="signature">
        <div class="fw-divider-space hidden-below-lg mt-65"></div>
        <div class="fw-divider-space hidden-above-lg mt-30"></div>
        <a href="contact.html" class="btn btn-outline-maincolor">become a model</a>
        <a href="casting.html" class="btn btn-maincolor">Schedule Casting</a>
      </div>
    </div>
    <div class="fw-divider-space hidden-below-lg mt-30"></div>
  </div>
</section>

