<section class="page_slider video-bg cover-image ds text-center bottom_mask_subtract">
  <img src="../../../assets/images/home_1.jpg" class="" alt="img">
  <div class="flex-bg ds z-6 s-overlay">
    <video loop muted id="myVideo">
      <source src="#" data-src="../../../../assets/images/Comercial_Stock_Models_2018.mp4" data-time="26" type="video/mp4">
    </video>
  </div>
  <div class="soc-buttons">
    <span>follow:</span>
    <span><a href="#" class="fa fa-facebook"></a></span>
    <span><a href="#" class="fa fa-twitter"></a></span>
    <span><a href="#" class="fa fa-google-plus"></a></span>
    <span><a href="#" class="fa fa-youtube-play"></a></span>
    <span><a href="#" class="fa fa-instagram"></a></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="intro_layers_wrapper">
          <div class="intro_layers">
            <div class="intro_layer" data-animation="fadeInRight">
              <div class="d-inline-block">
                <h2 class="text-uppercase intro_featured_word">
                  topmodels
                </h2>
              </div>
            </div>
            <div class="intro_layer mt-30" data-animation="fadeInUp">
              <img src="../../../assets/images/home_icon.png" alt="img" class="intro_after_featured_word">
              <div class="intro_after_featured_word">
                <a href="#">become a model</a>
              </div>
            </div>
          </div> <!-- eof .intro_layers -->
        </div> <!-- eof .intro_layers_wrapper -->
      </div> <!-- eof .col-* -->
    </div><!-- eof .row -->
  </div><!-- eof .container-fluid -->
</section>
