<app-header></app-header>
<div class="modal fade edit-profile-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ds">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
        <button type="button" class="close color-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form class="contact-form c-mb-20 c-gutter-20" [formGroup]="userForm">
                <div class="row">
                  <div class="col-sm-6 my-3">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="first name" formControlName="firstName">
                    </div>
                  </div>
                  <div class="col-sm-6 my-3">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="last name" formControlName="lastName">
                    </div>
                  </div>
                  <div class="col-sm-12 my-3">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="email address"
                             formControlName="email">
                    </div>
                  </div>
                  <div class="col-sm-12 my-3">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="phone" formControlName="phone">
                    </div>
                  </div>
                  <div class="col-sm-12 my-3">
                    <div class="form-group">
                      <input type="file" id="file-avatar" class="form-control" placeholder="Avatar..." (change)="onFileImage($event)">
                    </div>
                  </div>
                  <div class="col-sm-12 my-3">
                    <div class="form-group">
                      <textarea rows="6" cols="45" name="message" class="form-control" placeholder="Description..."
                                formControlName="description"></textarea>
                      <button type="button" class="btn-submit" data-dismiss="modal" (click)="editProfile(user.id)"><i class="fa fa-paper-plane"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="color: #ffffff">
  <div class="">
    <div class="upper">
      <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
    </div>
    <div class="user text-center">
      <div class="profile">
        <img src="{{apiUrl + '/' + user.avatar}}" class="rounded-circle" width="80">
      </div>
    </div>
    <div class="mt-80 text-center container">
      <h4 class="my-25" *ngIf="user.firstName && user.lastName">{{user.firstName + " " + user.lastName}}</h4>
      <h4 class="my-25" *ngIf="!user.firstName && !user.lastName">{{user.username}}</h4>
      <span class="text-muted d-block mb-2">{{user.city}}</span>
      <table>
        <tr>
          <td>
            <button class="btn my-btn-main" data-toggle="modal" data-target=".edit-profile-user">
              Edit profile
            </button>
          </td>
          <td>
            <div class="col">
              <button (click)="routerLinkCart(user.id)" class="btn my-btn-main">Carts</button>
            </div>
          </td>
          <td>
            <button *ngIf="user.status == 'User'" class="btn my-btn-main" (click)="createPendingUser()">Casting lover</button>
            <a *ngIf="user.status == 'Active'" class="btn my-btn-main" href="http://localhost:4200/auth/login">Go to admin page</a>
            <button *ngIf="user.status == 'Pending'" class="btn my-btn-main">Waiting for admin to approve</button>
          </td>
        </tr>
        <tr>
          <td>
            <div class="stats">
              <p class="mb-0 color-main">Join At</p>
              <span>{{user.joinedAt}}</span>
            </div>
          </td>
          <td>
            <div class="stats">
              <p class="mb-0 color-main">Phone number</p>
              <span>{{user.phone}}</span>
            </div>
          </td>
          <td>
            <div class="stats">
              <p class="mb-0 color-main">Email</p>
              <span>{{user.email}}</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="mb-60"></div>
<app-footer></app-footer>
