<app-header></app-header>

<div class="modal fade feedback-card" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ds">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
        <button type="button" class="close color-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          data-animation="scaleAppear">
          <form class="contact-form c-mb-20 c-gutter-20">
            <div class="input-group form-group">
              <div class="container">
                <div class="row text-center">
                  <span id="star1" class="col color-main star" (click)="clickStar(1)">
                    <i class="fa fa-star-o" style="font-size: 40px"></i>
                  </span>
                  <span id="star2" class="col color-main star" (click)="clickStar(2)">
                    <i class="fa fa-star-o" style="font-size: 40px"></i>
                  </span>
                  <span id="star3" class="col color-main star" (click)="clickStar(3)">
                    <i class="fa fa-star-o" style="font-size: 40px"></i>
                  </span>
                  <span id="star4" class="col color-main star" (click)="clickStar(4)">
                    <i class="fa fa-star-o" style="font-size: 40px"></i>
                  </span>
                  <span id="star5" class="col color-main star" (click)="clickStar(5)">
                    <i class="fa fa-star-o" style="font-size: 40px"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea id="feedback-content" rows="6" cols="45" class="form-control" placeholder="your review"></textarea>
              <button type="button" class="btn-submit" (click)="saveFeedback(reservation.id)"><i class="fa fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="my-btn-close btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="my-btn-main" (click)="saveService()">Save</button>-->
<!--      </div>-->
    </div>
  </div>
</div>

<div class="modal fade info-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ds">
      <div class="modal-header">
        <h5 class="modal-title">Info feedback</h5>
        <button type="button" class="close color-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div data-animation="scaleAppear">
          <div class="input-group form-group">
            <div class="container">
              <div id="user-star-feedback" class="row text-center">

              </div>
            </div>
          </div>
          <div class="custom-comment-content color-main">
            <p class="p-20">
              {{feedback.content}}
            </p>
          </div>
        </div>
      </div>
      <!--      <div class="modal-footer">-->
      <!--        <button type="button" class="my-btn-close btn-secondary" data-dismiss="modal">Close</button>-->
      <!--        <button type="button" class="my-btn-main" (click)="saveService()">Save</button>-->
      <!--      </div>-->
    </div>
  </div>
</div>

<section class="page_title s-parallax bottom_mask_subtract s-overlay ds title-overlay s-py-md-25">
  <div class="container">
    <div class="row">

      <div class="fw-divider-space hidden-below-lg mt-160"></div>
      <div class="fw-divider-space hidden-above-lg mt-100"></div>

      <div class="col-md-12 text-center">
        <h1>Account Details</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Account Details
          </li>
        </ol>
      </div>

      <div class="fw-divider-space hidden-below-lg mt-160"></div>
      <div class="fw-divider-space hidden-above-lg mt-100"></div>

    </div>
  </div>
</section>

<section class="ds s-pt-70 s-pb-40 s-pb-sm-70 s-py-lg-100 s-py-xl-150 c-gutter-60">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <article id="post-1707" class="post-1707 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Order received</h1>
            <span class="edit-link">
              <button *ngIf="reservation.status == 'Accepted'" type="button" class="my-btn-main" (click)="completed(reservation.id)">Completed</button>
            </span>
            <span class="edit-link">
              <button *ngIf="reservation.status == 'Completed' && !feedback" type="button" class="my-btn-main" data-toggle="modal" data-target=".feedback-card">Feedback</button>
            </span>
            <span class="edit-link">
              <button *ngIf="feedback" type="button" class="my-btn-main" data-toggle="modal" data-target=".info-feedback">your feedback</button>
            </span>
          </header>
          <!-- .entry-header -->
          <div class="entry-content">
            <div class="woocommerce">
              <div class="woocommerce-order">
                <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
                  Thank you. Your order has been received.
                </p>

                <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

                  <li class="woocommerce-order-overview__order order">
                    Order number: <strong>{{reservation.id}}</strong>
                  </li>

                  <li class="woocommerce-order-overview__date date">
                    Date: <strong>{{reservation.startFrom.slice(0, 10)}}</strong>
                  </li>

                  <li class="woocommerce-order-overview__total total">
                    Total: <strong>
                        <span class="woocommerce-Price-amount amount">
                            <span
                              class="woocommerce-Price-currencySymbol">$</span>{{reservation.totalMoney}}</span>
                  </strong>
                  </li>


                  <li class="woocommerce-order-overview__payment-method method">
                    Status:
                    <strong *ngIf="reservation.status == 'Accepted'">Accepted</strong>
                    <strong *ngIf="reservation.status == 'Pending'">Pending</strong>
                    <strong *ngIf="reservation.status == 'Rejected'">Rejected</strong>
                    <strong *ngIf="reservation.status == 'Completed'">Completed</strong>
                  </li>

                  <li class="woocommerce-order-overview__date date">
                    Location: <strong>{{reservation.location}}</strong>
                  </li>

                </ul>

                <section class="woocommerce-order-details">

                  <h4 class="woocommerce-order-details__title">Order details</h4>

                  <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

                    <thead>
                    <tr>
                      <th class="woocommerce-table__product-name product-name">Service</th>
                      <th class="woocommerce-table__product-table product-total">Total</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="woocommerce-table__line-item order_item" *ngFor="let reservationDetail of reservationDetails">

                      <td class="woocommerce-table__product-name product-name">
                        <a>{{reservationDetail.serviceName}}</a>
                      </td>

                      <td class="woocommerce-table__product-total product-total">
																<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">$</span>{{reservationDetail.price}}</span>
                      </td>

                    </tr>

                    </tbody>

                    <tfoot>
                    <tr>
                      <th scope="row">Total:</th>
                      <td>
																<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol"></span>{{reservation.totalMoney | currency:'USD':true:'3.2-2'}}</span>
                      </td>
                    </tr>
                    </tfoot>

                  </table>

                </section>


              </div>
            </div>
          </div>
          <!-- .entry-content -->
        </article>

      </div>

    </div>

  </div>
  <div class="fw-divider-space hidden-below-lg mt-50"></div>
</section>

<app-footer></app-footer>
