<h1>Feed Back</h1>
<form [formGroup]="feedbackForm" (ngSubmit)="createFeedback()">
  <table>

    <tr>
      <td>content:</td>
      <td><textarea type="text" formControlName="content"></textarea></td>
    </tr>

    <tr>
      <td>rating</td>
      <td><input type="number" formControlName="rating" ></td>
    </tr>
    <tr>
      <td>sent_at</td>
      <td><input type="date" formControlName="sent_at" ></td>
    </tr>

    <tr>
      <td>
        <button >Add</button>
      </td>
    </tr>
  </table>
</form>
