<section id="become-model" class="become-model s-py-115 s-pt-md-80 s-pb-md-90 s-pt-xl-155 s-pb-xl-145">
  <div class="fw-divider-space hidden-below-md mt-65"></div>
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-lg-8 text-center">
        <h5 class="subtitle">become</h5>
        <h4 class="title">our model</h4>
        <p>
          If you are 5ft 8in and above women and think you have what it takes to be a model send us headshot and full length shot along with all your parameters
        </p>
        <div class="widget widget_mailchimp pencil">
          <form class="signup" action="http://webdesign-finder.com/">
            <label for="mailchimp_email">
              <span class="screen-reader-text">Subscribe:</span>
            </label>

            <input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email address">

            <button type="submit" class="search-submit">
              <span class="screen-reader-text">Subscribe</span>
            </button>
            <div class="response"></div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="fw-divider-space hidden-below-md pt-50"></div>
</section>

