<section class="c-gutter-0 gallery-5 carousel-section ds container-px-0 z-6 transparent-bg overflow-visible s-pt-sm-50">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="owl-carousel" data-margin="30" data-responsive-lg="5" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="" data-loop="true" data-autoplay="true">
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_17.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">chloe</div>
                <div class="subtitle">nelson</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_12.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">megan</div>
                <div class="subtitle">duong</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_18.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">amy</div>
                <div class="subtitle">anderson</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_20.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">rachel</div>
                <div class="subtitle">anthony</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_19.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">elena</div>
                <div class="subtitle">murray</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_2.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Afyna</div>
                <div class="subtitle">Cannon</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_3.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Erica</div>
                <div class="subtitle">Peters</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_4.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Evelyn</div>
                <div class="subtitle">Plumb</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_5.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Beatriz</div>
                <div class="subtitle">Lanning</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_6.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Patricia</div>
                <div class="subtitle">Bellomy</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_7.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Lauri</div>
                <div class="subtitle">Pena</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_8.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Maria</div>
                <div class="subtitle">Willis</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media photoswipe-link h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_9.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Marla</div>
                <div class="subtitle">Walker</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_10.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Gloria</div>
                <div class="subtitle">Lopez</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_11.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">Faith</div>
                <div class="subtitle">Bayless</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="vertical-item item-gallery content-absolute text-center ds">
            <a href="personal-modal-page.html" class="item-media  h-100 w-100 d-block" data-width="1080" data-height="1520">
              <img src="../../../../assets/images/gallery/model_1.jpg" alt="img">
              <div class="media-links"></div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <div class="title">leslie</div>
                <div class="subtitle">Ball</div>
              </div>
              <ul class="model-data">
                <li>
                  <span class="title">height</span>
                  <span class="data">183</span>
                </li>
                <li>
                  <span class="title">weight</span>
                  <span class="data">51</span>
                </li>
                <li>
                  <span class="title">age</span>
                  <span class="data">21</span>
                </li>
                <li>
                  <span class="title">eyes</span>
                  <span class="data">blue</span>
                </li>
                <li>
                  <span class="title">hair</span>
                  <span class="data">brown</span>
                </li>
                <li>
                  <span class="title">dress</span>
                  <span class="data">2.4</span>
                </li>
                <li>
                  <span class="title">bust</span>
                  <span class="data">78</span>
                </li>
                <li>
                  <span class="title">waist</span>
                  <span class="data">58</span>
                </li>
                <li>
                  <span class="title">hips</span>
                  <span class="data">86</span>
                </li>
                <li>
                  <span class="title">shoe</span>
                  <span class="data">7.5</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

