<section id="quote" class="blockquote-section s-parallax s-overlay ds s-pt-85 s-pb-140 s-pb-md-170 s-pb-lg-80 s-pt-md-70 s-pt-xl-200 s-pb-xl-190">
  <div class="container animate" data-animation="fadeIn">
    <div class="row">
      <div class="col-xs-12 col-lg-10 offset-lg-1">
        <div class="owl-carousel buttons-type home" data-loop="true" data-margin="0" data-nav="true" data-dots="false" data-themeclass="entry-thumbnail-carousel" data-center="false" data-items="1" data-autoplay="false" data-responsive-xs="1" data-responsive-sm="1" data-responsive-md="1" data-responsive-lg="1">
          <div class="item text-center">
            <div class="entry-meta mt-0">
										<span class="byline">
											<span class="author d-flex flex-column align-items-center vcard">
												<img class="avatar mb-2 rounded-circle" src="../../../../assets/images/comment_2.jpg" alt="img">
												<span class="title">Wayne Fernandez</span>
												<a class="url fn n" href="blog-full.html">Photographer</a>
											</span>
										</span>
            </div>
            <div class="entry-content">
              <p class="quote">
                Truly one of my favorite agencies. Your talent is so great and your agency is so professional. It’s such a pleasure to come there! Thank you for being a company that I count on!
              </p>
            </div>
          </div>
          <div class="item text-center">
            <div class="entry-meta mt-0">
										<span class="byline">
											<span class="author d-flex flex-column align-items-center vcard">
												<img class="avatar mb-2 rounded-circle" src="../../../../assets/images/comment_1.jpg" alt="img">
												<span class="title">Pearl Hansen</span>
												<a class="url fn n" href="blog-full.html">National Model</a>
											</span>
										</span>
            </div>
            <div class="entry-content">
              <p class="quote">
                I started taking classes at models and images when I was 16 and they've worked to help me launch my career since the day I walked into their door. Much love for them!
              </p>
            </div>
          </div>
          <div class="item text-center">
            <div class="entry-meta mt-0">
										<span class="byline">
											<span class="author d-flex flex-column align-items-center vcard">
												<img class="avatar mb-2 rounded-circle" src="../../../../assets/images/comment_3.jpg" alt="img">
												<span class="title">Pearl Hansen</span>
												<a class="url fn n" href="blog-full.html">Manager</a>
											</span>
										</span>
            </div>
            <div class="entry-content">
              <p class="quote">
                uModels agency is a great place to go if you want to learn about the modeling industry, work with amazing people, and gain experience that will last a lifetime.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fw-divider-space hidden-below-lg pt-90"></div>
</section>

