<app-header></app-header>

<section class="page_title s-parallax bottom_mask_subtract s-overlay ds title-overlay s-py-md-25">
  <div class="container">
    <div class="row">

      <div class="fw-divider-space hidden-below-lg mt-160"></div>
      <div class="fw-divider-space hidden-above-lg mt-100"></div>

      <div class="col-md-12 text-center">
        <h1>Total Shopping Cart</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/profile">Profile</a>
          </li>
          <li class="breadcrumb-item active">
            Total shopping cart
          </li>
        </ol>
      </div>

      <div class="fw-divider-space hidden-below-lg mt-160"></div>
      <div class="fw-divider-space hidden-above-lg mt-100"></div>

    </div>
  </div>
</section>

<section class="ds s-pt-70 s-pb-80 s-py-md-100 s-py-xl-150">
  <div class="py-30 container" *ngIf="reservations.length != 0">
    <div class="row">
      <div class="col-lg-12">
        <table class="shop_table shop_table_responsive cart">
          <thead>
          <tr>
            <th class="product-price"></th>
            <th class="product-thumbnail">&nbsp;</th>
            <th class="product-name">Lover</th>
            <th class="product-quantity">Time</th>
            <th class="product-subtotal">Total</th>
            <th class="product-subtotal">Info</th>
          </tr>
          </thead>
          <tbody>

          <tr class="cart_item" *ngFor="let reservation of reservations; let i = index">

            <td class="product-price">{{i}}</td>

            <td class="product-thumbnail">
              <a routerLink="/info-seller/{{reservation.rentee.id}}">
                <img width="180" height="180" src="{{apiUrl + '/' + reservation.rentee.avatar}}" class="" alt="img">
              </a>
            </td>

            <td class="product-name" data-title="Product">
              <a
                routerLink="/info-seller/{{reservation.rentee.id}}">{{reservation.rentee.firstName + " " + reservation.rentee.lastName}}</a>
            </td>

            <td class="product-quantity"
                data-title="Quantity">{{((reservation.endAt.slice(11, 13) * 60 + +reservation.endAt.slice(14, 16)) - (reservation.startFrom.slice(11, 13) * 60 + +reservation.startFrom.slice(14, 16))) / 60}}
              h
            </td>

            <td class="product-subtotal" data-title="Total">
												<span class="amount">
													<span>$</span>{{reservation.totalMoney}}
												</span>
            </td>

            <td>
              <button type="button" class="my-btn-main" (click)="showInfoCart(reservation.id)">Info</button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>
</section>

<app-suitable-proposal></app-suitable-proposal>

<app-footer></app-footer>
