<section id="team" class="team-section ds s-pb-lg-100 bottom_mask_subtract">
  <div class="container">
    <div class="row">
      <div class="col-12 flex-column">
        <div class="team-slider-shortcode">
          <div class="team-slider-item active">
            <div class="team-profession">Talent Advisor</div>
            <div class="team-slider-image animated fadeInLeft from-right">
              <img src="../../../../assets/images/team/team_1.png" alt="team-slide">
            </div>
            <div class="team-slider-name">
              <h3 class="slide-title">
                <span>Esther Sommers</span>
              </h3>
            </div><!-- eof .team-slider-name -->
            <p class="social-icons">
              <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>
              <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>
              <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>
            </p><!-- eof .social-icons -->
          </div><!-- eof .team-slider-item -->
          <div class="team-slider-item">
            <div class="team-profession">Financial Executive</div>
            <div class="team-slider-image animated fadeInRight from-left">
              <img src="../../../../assets/images/team/team_2.png" alt="team-slide">
            </div>
            <div class="team-slider-name">
              <h3 class="slide-title">
                <span>Bobbie McKeever</span>
              </h3>
            </div><!-- eof .team-slider-name -->
            <p class="social-icons">
              <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>
              <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>
              <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>
            </p><!-- eof .social-icons -->
          </div><!-- eof .team-slider-item -->
          <div class="team-slider-item">
            <div class="team-profession">Event Manager</div>
            <div class="team-slider-image animated fadeInLeft from-right">
              <img src="../../../../assets/images/team/team_3.png" alt="team-slide">
            </div>
            <div class="team-slider-name">
              <h3 class="slide-title">
                <span>Odis Fannin</span>
              </h3>
            </div><!-- eof .team-slider-name -->
            <p class="social-icons">
              <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>
              <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>
              <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>
            </p><!-- eof .social-icons -->
          </div><!-- eof .team-slider-item -->
          <div class="team-slider-item">
            <div class="team-profession">Photographer</div>
            <div class="team-slider-image animated fadeInRight from-left">
              <img src="../../../../assets/images/team/team_4.png" alt="team-slide">
            </div>
            <div class="team-slider-name">
              <h3 class="slide-title">
                <span>Lucy Harris</span>
              </h3>
            </div><!-- eof .team-slider-name -->
            <p class="social-icons">
              <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>
              <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>
              <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>
            </p><!-- eof .social-icons -->
          </div><!-- eof .team-slider-item -->
        </div>
      </div>
    </div>
  </div>
</section>

