<footer class="page_footer ds top_mask_add s-pb-10 s-pt-70 s-pb-md-40 s-pt-md-85 s-pb-xl-140 s-pt-xl-145">
  <div class="container">
    <div class="row">
      <div class="divider-20 d-none d-xl-block"></div>

      <div class="col-12 text-center animate" data-animation="fadeInUp">

        <div class="widget widget_social_buttons">
          <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>
          <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>
          <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>
        </div>

        <div class="widget logo">
          <img src="../../../../assets/images/logo.png" alt="img">
        </div>

        <div class="widget copyright">
          <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
        </div>
      </div>

    </div>
  </div>
</footer>
