<section id="gallery" class="gallery-section gallery-6 bottom_mask_add overflow-visible ds s-pt-115 s-pb-70 s-pb-md-80 s-pt-md-135 s-pb-xl-155 s-pt-xl-205">
<div class="container-fluid">
    <div class="row">
      <div class="fw-divider-space hidden-below-xl pt-70"></div>
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="filters gallery-filters text-lg-right">
              <a href="#" data-filter="*" class="active selected">All</a>
              <a routerLink="/top-lover">top lover</a>
              <a routerLink="/suggestions">suggestions</a>
            </div>
          </div>
        </div>
        <div class="fw-divider-space hidden-below-lg pt-10"></div>

        <div class="row masonry-layout c-gutter-30 c-mb-30">
          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-3" *ngFor="let user of users">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a routerLink="/info-seller/{{user.id}}" class="item-media h-100 w-100 d-block">
                <img src="http://localhost:8080/{{user.avatar}}" alt="img">
                <div class="media-links"></div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">{{user.firstName}}</div>
                  <div class="subtitle">Ball</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">{{user.height}}</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">{{user.weight}}</span>
                  </li>
                  <li>
                    <span class="title">birth</span>
                    <span class="data">{{user.yearOfBirth}}</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">{{user.bust}}</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">{{user.waist}}</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">{{user.hips}}</span>
                  </li>
                  <li>
                    <span class="title">rented</span>
                    <span class="data">{{user.rentedCounter}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <nav class="navigation pagination" style="justify-content: center" role="navigation">
          <h2 class="screen-reader-text">Posts navigation</h2>
          <div class="nav-links">
            <a class="prev page-numbers" href="blog-right.html">
              <i class="fa fa-chevron-left"></i>
              <span class="screen-reader-text">Previous page</span>
            </a>
            <a class="page-numbers" href="blog-right.html">
              <span class="meta-nav screen-reader-text">Page </span>
              1
            </a>
            <span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>
										2
									</span>
            <a class="page-numbers" href="blog-right.html">
              <span class="meta-nav screen-reader-text">Page </span>
              3
            </a>
            <a class="page-numbers" href="blog-right.html">
              <span class="meta-nav screen-reader-text">Page </span>
              ...
            </a>
            <a class="page-numbers" href="blog-right.html">
              <span class="meta-nav screen-reader-text">Page </span>
              12
            </a>
            <a class="next page-numbers" href="blog-right.html">
              <span class="screen-reader-text">Next page</span>
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

