<section id="gallery" class="gallery-section gallery-6 bottom_mask_add overflow-visible ds s-pt-115 s-pb-70 s-pb-md-80 s-pt-md-135 s-pb-xl-155 s-pt-xl-205">
<div class="container-fluid">
    <div class="row">
      <div class="fw-divider-space hidden-below-xl pt-70"></div>
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="filters gallery-filters text-lg-right">
              <a href="#" data-filter="*" class="active selected">All</a>
              <a routerLink="/top-lover">top lover</a>
              <a routerLink="/suggestions">suggestions</a>
            </div>
          </div>
        </div>
        <div class="fw-divider-space hidden-below-lg pt-10"></div>

        <div class="row isotope-wrapper masonry-layout c-gutter-30 c-mb-30" data-animation="fadeInDown" data-filters=".gallery-filters">
          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-3" *ngFor="let user of users">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a routerLink="/info-seller/{{user.id}}" class="item-media h-100 w-100 d-block">
                <img src="http://localhost:8080/{{user.avatar}}" alt="img">
                <div class="media-links"></div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">{{user.firstName}}</div>
                  <div class="subtitle">Ball</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">{{user.height}}</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">{{user.weight}}</span>
                  </li>
                  <li>
                    <span class="title">birth</span>
                    <span class="data">{{user.yearOfBirth}}</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">{{user.bust}}</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">{{user.waist}}</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">{{user.hips}}</span>
                  </li>
                  <li>
                    <span class="title">rented</span>
                    <span class="data">{{user.rentedCounter}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="fw-divider-space pt-20 hidden-above-lg"></div>
          <div class="col-12 text-center">
            <div class="btn btn-maincolor">all models</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

