<section id="gallery" class="gallery-section gallery-6 bottom_mask_add overflow-visible ds s-pt-115 s-pb-70 s-pb-md-80 s-pt-md-135 s-pb-xl-155 s-pt-xl-205">
  <div class="container-fluid">
    <div class="row">
      <div class="fw-divider-space hidden-below-xl pt-70"></div>
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="filters gallery-filters text-lg-right">
              <a href="#" data-filter="*" class="active selected">All</a>
              <a href="#" data-filter=".fashion">fashion</a>
              <a href="#" data-filter=".studio">studio</a>
              <a href="#" data-filter=".session">session</a>
            </div>
          </div>
        </div>
        <div class="fw-divider-space hidden-below-lg pt-10"></div>

        <div class="row isotope-wrapper masonry-layout c-gutter-30 c-mb-30 animate" data-animation="fadeInDown" data-filters=".gallery-filters">

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_1.jpg" alt="img">
                <div class="media-links"></div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">leslie</div>
                  <div class="subtitle">Ball</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 studio session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_2.jpg" alt="img">
                <div class="media-links"></div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Afyna</div>
                  <div class="subtitle">Cannon</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_3.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Erica</div>
                  <div class="subtitle">peters</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 studio">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_4.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Evelyn</div>
                  <div class="subtitle">Plumb</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_5.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Beatriz</div>
                  <div class="subtitle">Lanning</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 studio session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_6.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Patricia</div>
                  <div class="subtitle">Bellomy</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_7.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Lauri</div>
                  <div class="subtitle">Pena</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 studio session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_8.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Maria</div>
                  <div class="subtitle">Willis</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion studio">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_9.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Marla</div>
                  <div class="subtitle">Walker</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_10.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Gloria</div>
                  <div class="subtitle">Lopez</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 studio session">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_11.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Faith</div>
                  <div class="subtitle">Bayless</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 col-lgx-3 col-xl-2 fashion">
            <div class="vertical-item item-gallery content-absolute text-center ds">
              <a href="personal-modal-page.html" class="item-media h-100 w-100 d-block">
                <img src="../../../../assets/images/gallery/model_12.jpg" alt="img">
                <div class="media-links">
                  <div class="links-wrap"></div>
                </div>
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">megan</div>
                  <div class="subtitle">duong</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="fw-divider-space pt-20 hidden-above-lg"></div>
          <div class="col-12 text-center">
            <div class="btn btn-maincolor">all models</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

