<section id="new-faces" class="faces-section gallery-1 ds top_mask_add overflow-visible item-gallery s-pt-80 s-pb-30 s-pb-md-70 s-pt-md-90 s-pb-xl-120 s-pt-xl-180">
  <div class="container">
    <div class="row">
      <div class="hidden-below-lg col-lg-4 animate" data-animation="fadeInLeft">
        <span class="color-main font-main fs-24 text-uppercase">modelia</span>
        <h2 class="mt-0 mb-40 text-uppercase">new faces</h2>
        <div class="model-slider-thumbs">
          <ul class="slides">
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_5.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Stacy Norris</a>
                <span class="age">22 years old,</span>
                <span class="address">New Yor</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_8.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Cristina Kahler</a>
                <span class="age">20 years old,</span>
                <span class="address">Los Angeles</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_1.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Faith Bayless</a>
                <span class="age">18 years old,</span>
                <span class="address">San Francisco</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_9.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Alice Legere</a>
                <span class="age">21 years old,</span>
                <span class="address">San Diego</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_2.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Patricia Bellomy</a>
                <span class="age">18 years old,</span>
                <span class="address">San Francisco</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_3.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Megan Duong</a>
                <span class="age">21 years old,</span>
                <span class="address">San Diego</span>
              </div>
            </li>
            <li>
              <img src="../../../../assets/images/gellery_rectengular/rec_model_4.jpg" alt="img" width="120" height="120">
              <div class="slide-wrap">
                <a href="personal-modal-page.html" class="name">Afyna Cannon</a>
                <span class="age">21 years old,</span>
                <span class="address">San Diego</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-lg-8 animate" data-animation="fadeInRight">
        <div class="model-images">
          <div class="model-figure">
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_5.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Stacy</div>
                  <div class="subtitle">Norris</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_8.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Cristina</div>
                  <div class="subtitle">Kahler</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_1.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Faith</div>
                  <div class="subtitle">Bayless</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_9.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Alice</div>
                  <div class="subtitle">Legere</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_2.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Patricia</div>
                  <div class="subtitle">Bellomy</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative ">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_3.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">megan</div>
                  <div class="subtitle">duong</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="border-rad-5 position-relative">
              <a href="personal-modal-page.html" class="gradientdarken-background z-7-before">
                <img src="../../../../assets/images/gellery_rectengular/rec_model_4.jpg" alt="img" data-caption="" data-large_image_width="555" data-large_image_height="555">
              </a>
              <div class="item-content">
                <div class="item-title">
                  <div class="title">Afyna</div>
                  <div class="subtitle">Cannon</div>
                </div>
                <ul class="model-data">
                  <li>
                    <span class="title">height</span>
                    <span class="data">183</span>
                  </li>
                  <li>
                    <span class="title">weight</span>
                    <span class="data">51</span>
                  </li>
                  <li>
                    <span class="title">age</span>
                    <span class="data">21</span>
                  </li>
                  <li>
                    <span class="title">eyes</span>
                    <span class="data">blue</span>
                  </li>
                  <li>
                    <span class="title">hair</span>
                    <span class="data">brown</span>
                  </li>
                  <li>
                    <span class="title">dress</span>
                    <span class="data">2.4</span>
                  </li>
                  <li>
                    <span class="title">bust</span>
                    <span class="data">78</span>
                  </li>
                  <li>
                    <span class="title">waist</span>
                    <span class="data">58</span>
                  </li>
                  <li>
                    <span class="title">hips</span>
                    <span class="data">86</span>
                  </li>
                  <li>
                    <span class="title">shoe</span>
                    <span class="data">7.5</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

