
<!--topline section visible only on small screens|-->
<section class="page_topline ds c-my-10 s-py-15 small-text">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-lg-left">
        <ul class="top-includes border-divided">
          <li>
            <span>
              <a routerLink="/auth/register" *ngIf="!currentUser"><i class="fa fa-lock"></i> Register</a>
              <a routerLink="" (click)="logout()" *ngIf="currentUser">Log out</a>
            </span>
          </li>

<!--          <li class="dropdown-currency">-->
<!--            <div class="dropdown show">-->
<!--              <a class="dropdown-toggle" href="#" role="button" id="dropdown-currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                USD-->
<!--              </a>-->
<!--              <div class="dropdown-menu ds" aria-labelledby="dropdown-currency">-->
<!--                <a href="#">USD</a>-->
<!--                <a href="#">EUR</a>-->
<!--                <a href="#">GBP</a>-->
<!--              </div>-->
<!--            </div>-->

<!--          </li>-->

          <li class="dropdown-account">
            <div class="dropdown show">
              <a routerLink="/auth/login" *ngIf="!currentUser">
                <i class="fa fa-user"></i>
                Login
              </a>
              <a *ngIf="currentUser" class="dropdown-toggle" href="#" role="button" id="dropdown-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
                {{currentUser.name}}
              </a>
              <div class="dropdown-menu ds" aria-labelledby="dropdown-account">
                <a routerLink="/profile"><i class="fa fa-user"></i> My Account</a>
<!--                <a href="#"><i class="fa fa-heart-o"></i> Wishlist</a>-->
                <a routerLink="/cart"><i class="fa fa-shopping-basket"></i> Cart</a>
<!--                <a href="#"><i class="fa fa-edit"></i> Checkout</a>-->
                <a routerLink="" (click)="logout()" *ngIf="currentUser"><i class="fa fa-lock"></i> Logout</a>
              </div>
            </div>
          </li>

        </ul>

      </div>
      <div class="col-md-6 text-center text-lg-right">
        <ul class="top-includes border-divided">
<!--          <li>-->
<!--            <a href="#"><i class="fa fa-comment"></i> Start live chat</a>-->
<!--          </li>-->
          <li>
            <i class="fa fa-phone color-darkgrey px-1"></i> <span class="color-main">1-800-123-4567</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--eof topline-->

<section class="page_toplogo ds c-my-10 s-py-10">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center text-lg-left">
        <a routerLink="" class="logo">
          <img src="../../../assets/images/logo.png" alt="img"/>
        </a>
      </div>

      <div class="col-lg-4 text-center">

        <div class="widget widget_search">
          <form role="search">
            <label for="search-form-top">
              <span class="screen-reader-text">Search for:</span>
            </label>
            <input type="search" id="search-form-top" class="search-field" placeholder="Search username" [(ngModel)]="searchUsername" name="search">
<!--            <button type="submit" class="search-submit" *ngIf="searchUsername != ''">-->
<!--              <span class="screen-reader-text">Search</span>-->
<!--            </button>-->
            <button type="button" class="search-submit" data-toggle="modal" data-target=".search-user">
              <span class="screen-reader-text">Search</span>
            </button>
          </form>
        </div>

      </div>

      <div class="col-lg-4 text-center text-lg-right">

        <div class="d-lg-flex justify-content-lg-end align-items-lg-center">

          <ul class="top-includes">
            <li>
              <div class="dropdown">
                <a class="dropdown-toggle dropdown-shopping-cart" href="#" role="button" id="dropdown-shopping-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-shopping-basket"></i>
                  <span class="badge bg-maincolor">3</span>
                  $27.00
                </a>
                <div class="dropdown-menu dropdown-menu-right ds" aria-labelledby="dropdown-shopping-cart">
                  <div class="widget woocommerce widget_shopping_cart">


                    <div class="widget_shopping_cart_content">

                      <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                          <a href="#" class="remove" aria-label="Remove this item" data-product_id="73" data-product_sku="">×</a>
                          <a href="shop-product-right.html">
                            <img src="images/shop/26.jpg" alt="img">Quidem repellat repellendus sit suscipit
                          </a>

                          <span class="quantity">1 ×
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>
																		12.00
																	</span>
																</span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                          <a href="#" class="remove" aria-label="Remove this item" data-product_id="76" data-product_sku="">×</a>
                          <a href="shop-product-right.html">
                            <img src="images/shop/26.jpg" alt="img">Laudantium nostrum quas quasi quisquam
                          </a>

                          <span class="quantity">1 ×
																	<span class="woocommerce-Price-amount amount">
																		<span class="woocommerce-Price-currencySymbol">$</span>
																		15.00
																	</span>
																</span>
                        </li>
                      </ul>

                      <p class="woocommerce-mini-cart__total total">
                        <strong>Subtotal:</strong>
                        <span class="woocommerce-Price-amount amount">
																<span class="woocommerce-Price-currencySymbol">$</span>
																27.00
															</span>
                      </p>

                      <p class="woocommerce-mini-cart__buttons buttons">
                        <a href="shop-cart.html" class="button wc-forward">View cart</a>
                      </p>
                    </div>
                  </div>

                </div>
              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>
  </div>
</section>

