<section class="page_topline ds s-py-5 c-my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-lg-right text-center">
        <ul class="top-includes text-center border-divided small-text">
          <li>
            <span>
              <a routerLink="/auth/login" *ngIf="!currentUser"><i class="fa fa-user"></i> Login</a>
              <a routerLink="/profile" *ngIf="currentUser">
                <i class="fa fa-user"></i>
                      {{currentUser.name}}
              </a>
            </span>
          </li>
          <li>
            <span>
              <a routerLink="/auth/register" *ngIf="!currentUser"><i class="fa fa-lock"></i> Register</a>
              <a routerLink="" (click)="logout()" *ngIf="currentUser">Log out</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
<header class="page_header ds c-my-5 bottom_mask_add">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <a routerLink="" class="logo">
          <img src="../../../assets/images/logo.png" alt="img"/>
        </a>
      </div>
      <div class="col-6 text-center text-sm-right">
        <ul class="top-includes float-right">
          <li>
            <p class="social-icons">
<!--              <a href="#" class="fa fa-facebook color-bg-icon rounded" title="facebook"></a>-->
<!--              <a href="#" class="fa fa-twitter color-bg-icon rounded" title="twitter"></a>-->
<!--              <a href="#" class="fa fa-google color-bg-icon rounded" title="google"></a>-->
              <a class="search_modal_button color-bg-icon rounded fa fa-search" data-toggle="modal" data-target=".search-user"></a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

